.header{
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
    padding-top: 15px;
    padding-bottom: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.header_nav nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}
.header_nav nav ul li a {
    text-decoration: none;
    font-family: Montserrat-Regular;
    font-size: 15px;
    color: #333333;
    font-weight: 400;
}
.header_nav nav ul li a:hover {
    color: #e65540;
}
.header_right ul{
display: flex;
gap: 30px;
list-style: none;
}
.header_right ul li i {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    color: #666666;
}